html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    display: block;
}

canvas {
    width: auto;
    width: 500px;
    height: 500px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.wide{
    min-width: 900px;
}

.nav-tabs > li > a{
    background-color: #dddddd;
    color: #2c3e50;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover{
    border-width: 3px;
    border-color: #2c3e50;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #2c3e50;
    color: #ffffff;
    border-width: 3px;
    border-color: #2c3e50;
}

.tab-pane{
    border: 3px;
    border-color: #2c3e50;
}

.padded {
    padding: 2px;
}

#opg-chart,#opg-modal-portrait {
    width: 85%;
    float: right;
    height: 94%;
    margin: 0;
}

.right-justified {
    text-align: right;
}

.left-justified {
    text-align: left;
}

.navbar {
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
}

#ruler {
    width: 100%;
    height: 5%;
    /*background-color: #d2a779;*/
}

.outer-content {
    width: 100%;
    height: calc(100% - 60px);
}

#gedbutton,#fsbutton,#togedbutton,#tofsbutton, #edit-spacing-switch{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

#gedbutton:hover,#fsbutton:hover {
    background-color: lightgray;
}

#downloadModal{
    display:block;
}
.splash-title{
    text-align: center;
    font-size: 400%;
}

.footer {
    float: right;
}

.footer-text {
    float: right;
    margin-right: 10px;
}

.sidebar-nav {
    position: relative;
    width: 95%;
}

.sidebar-nav li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar{
    background-color: #2c3e50;
    color: #ffffff;
}

.sidebar-opg{
    border: solid 2px #1F2B38;
    background-color: #2c3e50;
    color: #ffffff;
}

.sidebar-right{
    float: right;
    align-self: right;
}

.fill_wide{
    width: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#country-legend{
    width:15%;
    float: left;
    height: 94%;
    overflow-y: scroll;
}

#dragbar{
    background-color:black;
    height: 100%;
    float: right;
    width: 3px;
    cursor: col-resize;
}

#ghostbar{
    width:3px;
    height: 100%;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999;
}

.opg-blue{
    background-color: #2c3e50;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.opg-blue{
    color: #ffffff;
}

a.opg-blue:link{
    color: #ffffff;
}

.btn-footer{
    background-color: #1F2B38;
    color: white;
}

.btn-footer:hover{
    background-color: white;
    color: #2c3e50;
}

.btn-square{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #2c3e50;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.opg-card:hover .btn-square{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #1F2B38;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.opg-card{
    border: 4px solid #2c3e50;
    border-radius: 10px;
    height: 250px;
    padding: 1px;
    margin:1px;
}

.opg-card:hover{
    border: 4px solid #1F2B38;
    border-radius: 12px;
    height: 250px;
    padding: 1px;
    margin:1px;
}

.label-card{
    color: #2c3e50;
}

.modal_close{
    background-color: #1F2B38;
    color: white;
}

.modal-close:hover{
    background-color: white;
    color: #1F2B38;
}

.btn-pad{
    border-radius: 10px;
    border: solid 2px #FFFFFF;
    background-color: #1F2B38;
    color: white;
    max-width: 30px;
    min-width: 30px;
    width: 30px;
    max-height: 80%;
    min-height: 80%;
    height: 80%;
    padding: 1px;
    margin: 2px;
    margin-top: 7px;
}

.btn-sidebar{
    border-radius: 10px;
    border: solid 2px #FFFFFF;
    background-color: #1F2B38;
    color: white;
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    max-height: 15%;
    min-height: 15%;
    height: 15%;
    padding: 1px;
    margin: 1px 5% 1px 5%;
}

.btn-sidebar-large{
    border-radius: 10px;
    border: solid 2px #FFFFFF;
    background-color: #1F2B38;
    color: white;
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    max-height: 25%;
    min-height: 25%;
    height: 25%;
    padding: 6px;
    padding-left: 16px;
    margin: 1px 5% 1px 5%;
}

.btn-pad-white{
    border-radius: 10px;
    border: solid 2px #1F2B38;
    background-color: white;
    color: #1F2B38;
    max-width: 12%;
    min-width: 12%;
    width: 12%;
    max-height: 60%;
    min-height: 60%;
    height: 60%;
    padding: 1px;
    margin: 1px;
}

.pad-top{
    margin-top: 2px;
}

.pad-right{
    margin-right: 2px;
}

.pad-left{
    margin-left: 2px;
}

.pad-bottom{
    margin-bottom: 2px;
}

.opg-left-menu{
    border: 2px solid #1F2B38;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 310px;
    text-align: right;
    left: -312px; /*Give it just a bit of space.*/
    top: 0;
}

.opg-button-pad{
    padding: 5px;
    border: solid 2px #FFFFFF;
    border-radius: 5px;
    margin: 5px;
    margin-top: 8px;
}
